<header>
    <h2 style="width: 100%; text-align: center;" class="animate__animated animate__fadeInLeft">{{name}}</h2>
    
</header>
<div class="container ps-4 pe-4 ps-sm-5 pe-sm-5">
    <section>
        <h4 style="width: 100%; text-align: center; padding-top:0.5rem" class="animate__animated animate__heartBeat">{{sub}}</h4>
    </section>
    

    <div class="row fontWiteSomek" >
        <div class="col-3 col-sm-2 col-lg-1 contSkills">
            <div class="iconSkills"><img src="assets/img/angular_A.png"></div>
        </div>
        <div class="col-3 col-sm-2 col-lg-1 contSkills">
            <div class="iconSkills"><img src="assets/img/angularMat_A.png"></div>
        </div>
        <div class="col-3 col-sm-2 col-lg-1 contSkills" >
            <div class="iconSkills"><img src="assets/img/rxjs_A.png"></div>
        </div>
        <div class="col-3 col-sm-2 col-lg-1 contSkills">
            <div class="iconSkills"><img src="assets/img/bootstrap_A.png"></div>
        </div>
        <div class="col-3 col-sm-2 col-lg-1 contSkills">
            <div class="iconSkills"><img src="assets/img/mongodb_A.png"></div>
        </div>
        <div class="col-3 col-sm-2 col-lg-1 contSkills">
            <div class="iconSkills"><img src="assets/img/robomongo_A.png"></div>
        </div>
        <div class="col-3 col-sm-2 col-lg-1 contSkills">
            <div class="iconSkills"><img src="assets/img/nodejs_A.png"></div>
        </div>
        <div class="col-3 col-sm-2 col-lg-1 contSkills">
            <div class="iconSkills"><img src="assets/img/firebase_A.png"></div>
        </div>
        <div class="col-3 col-sm-2 col-lg-1 contSkills">
            <div class="iconSkills"><img src="assets/img/postman_A.png"></div>
        </div>
        <div class="col-3 col-sm-2 col-lg-1 contSkills">
            <div class="iconSkills"><img src="assets/img/javascript_A.png"></div>  
        </div>
        <div class="col-3 col-sm-2 col-lg-1 contSkills">
            <div class="iconSkills"><img src="assets/img/css3_A.png"></div>
        </div>
        <div class="col-3 col-sm-2 col-lg-1 contSkills">
            <div class="iconSkills"><img src="assets/img/html5_A.png"></div>
        </div>
        <div class="col-3 col-sm-2 col-lg-1 contSkills">
            <div class="iconSkills"><img src="assets/img/jquery_A.png"></div>
        </div>
        <div class="col-3 col-sm-2 col-lg-1 contSkills">
            <div class="iconSkills"><img src="assets/img/jqueryui_A.png"></div>
        </div>
        <div class="col-3 col-sm-2 col-lg-1 contSkills">
            <div class="iconSkills"><img src="assets/img/javascript_A.png"></div>  
        </div>
        <div class="col-3 col-sm-2 col-lg-1 contSkills">
            <div class="iconSkills"><img src="assets/img/typescript_A.png"></div>
        </div>
        <div class="col-3 col-sm-2 col-lg-1 contSkills">
            <div class="iconSkills"><img src="assets/img/postman_A.png"></div>
        </div>
        <div class="col-3 col-sm-2 col-lg-1 contSkills">
            <div class="iconSkills"><img src="assets/img/chartjs_A.png"></div>
        </div>
        <div class="col-3 col-sm-2 col-lg-1 contSkills">
            <div class="iconSkills"><img src="assets/img/leaflet_A.png"></div>
        </div>
        <div class="col-3 col-sm-2 col-lg-1 contSkills">
            <div class="iconSkills"><img src="assets/img/mapbox_A.png"></div>
        </div>
        <div class="col-3 col-sm-2 col-lg-1 contSkills">
            <div class="iconSkills"><img src="assets/img/openleyer_A.png"></div>
        </div>
        <div class="col-3 col-sm-2 col-lg-1 contSkills">
            <div class="iconSkills"><img src="assets/img/typescript_A.png"></div>
        </div>
        <div class="col-3 col-sm-2 col-lg-1 contSkills">
            <div class="iconSkills"><img src="assets/img/git_A.png"></div>
        </div>
        <div class="col-3 col-sm-2 col-lg-1 contSkills">
            <div class="iconSkills"><img src="assets/img/github_A.png"></div>
        </div>
        <div class="col-3 col-sm-2 col-lg-1 contSkills">
            <div class="iconSkills"><img src="assets/img/illustrator_A.png"></div>
        </div>
        <div class="col-3 col-sm-2 col-lg-1 contSkills">
            <div class="iconSkills"><img src="assets/img/photoshop_A.png"></div>
        </div>
        <div class="col-3 col-sm-2 col-lg-1 contSkills">
            <div class="iconSkills"><img src="assets/img/qgis_A.png"></div>
        </div>
        <div class="col-3 col-sm-2 col-lg-1 contSkills">
            <div class="iconSkills"><img src="assets/img/googleearth_A.png"></div>
        </div>
        <div class="col-3 col-sm-2 col-lg-1 contSkills ques">
            <div class="iconSkills"><img src="assets/img/ques_A.png"></div>
        </div>
        <div class="col-3 col-sm-2 col-lg-1 contSkills ques">
            <div class="iconSkills"><img src="assets/img/ques_A.png"></div>
        </div>
        <div class="col-3 col-sm-2 col-lg-1 contSkills ques">
            <div class="iconSkills"><img src="assets/img/ques_A.png"></div>
        </div>
        <div class="col-3 col-sm-2 col-lg-1 contSkills ques">
            <div class="iconSkills"><img src="assets/img/ques_A.png"></div>
        </div>
        <div class="col-3 col-sm-2 col-lg-1 contSkills ques">
            <div class="iconSkills"><img src="assets/img/ques_A.png"></div>
        </div>
        <div class="col-3 col-sm-2 col-lg-1 contSkills ques">
            <div class="iconSkills"><img src="assets/img/ques_A.png"></div>
        </div>
        <div class="col-3 col-sm-2 col-lg-1 contSkills ques">
            <div class="iconSkills"><img src="assets/img/ques_A.png"></div>
        </div>
        <div class="col-3 col-sm-2 col-lg-1 contSkills ques">
            <div class="iconSkills"><img src="assets/img/ques_A.png"></div>
        </div>

        
</div>


